@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-image: url(bg.jpg);
	min-width: 200px;
}
* {
	-webkit-font-smoothing: antialiased;
}
.menu {
	width: 100%;
	height: 48px;
	background:#fff;
	position: fixed;
	text-align:center;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
	min-width:500px;
}

.home {
    background:#FCC101;
}
.home .menu {
    width:830px;
    min-width:0;
    height:88px;
    margin:auto;
    border:15px solid #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow:none;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius:60px;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background:#ddd;
}
.home .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background:none;
}
.home .link {
    color:#000;
    font-weight:bold;
}
.home .link:focus{
    text-decoration:underline;
}
a {
    text-decoration: none;
    outline: none;
    color: #000;
}
.home ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
}
.home ul li {
    font: bold 60px/58px 'bebas_neuebold', sans-serif;
}
.home ul li:hover {
    font: bold 66px/53px 'bebas_neuebold', sans-serif;
    border-bottom:5px solid #000;
    text-shadow: 0 -1px 0 #FFF;
    color:#000;
    background:#EEE;
}
.home ul li ul li ul {
    top:33px;
}
.home ul li ul li {
    font: bold 22px/18px 'bebas_neuebold', sans-serif;
    background:#000;
}
.home ul li ul li:hover {
    font: bold 22px/18px 'bebas_neuebold', sans-serif;
    border-bottom:none;
    background: #666;
    color: #fff;
    text-shadow:none;
}
.home ul li ul {
    top:87px;
}
ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
}
ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -5px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
ul li:hover {
    background: #555;
    color: #fff;
}
ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
ul li ul li {
    background: #555;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover {
    background: #666;
}
ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
.sub_ul {
	background: #fff !important;
	color: #000;
	cursor: default;
	text-shadow: none;
}
.sub_ul:hover {
	background: #fff !important;
	color: #000 !important;
}
.wrap {
	width: 100%;
	text-align:center;
	padding-top: 49px;
}
.cont {
	width: 420px;
	text-align:left;
	padding-top:200px;
}
.cont_large {
	width: 460px;
	text-align:left;
	padding-top:200px;
}
.cont_small {
	width: 350px;
	text-align:left;
	padding-top:200px;
}
.circle {
	width: 230px;
	height: 230px;
	border: 1px solid #fff;
	border-radius: 180px;
	background: #fff;opacity: 1;
    -webkit-box-shadow: 0px 5px 50px -4px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 5px 50px -4px rgba(0,0,0,0.66);
	box-shadow: 0px 5px 50px -4px rgba(0,0,0,0.66);
	float: left;
}
.circle_contents {
	width:230px;
	height:230px;
	text-align:center;
}
.logo {
	margin-top:65px;
}
.title_text {
	color: #fff;
    text-transform: uppercase;
    font-size: 80px;
    font-family: 'bebas_neuebold', sans-serif;
    text-shadow: 0px 0px 10px #111;
}
.title {
	float: right;
	padding-top:70px;
}
.content {
    width: 400px;
    height: auto;
    padding: 15px;
    border: 1px solid #fff;
    background-color: #fff;
    webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    margin-top: 300px;
	text-align:left;
}
.content_art {
    width: 909px;
    height: auto;
    padding: 15px;
    border: 1px solid #fff;
    background-color: #fff;
    webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    margin-top: 300px;
	text-align:left;
	margin-bottom: 50px;
}
.content_text {
	color: #000;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.link {
	color: blue;
}
.content_text_art {
	color:#000;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	padding-left:10px;
}
.picture {
	padding:20px;
	opacity: 1;
}
.picture:hover {
	opacity:0.6;
}
#drop {
    display:none;
}
@media only screen and (max-width: 870px) {
    input,
    textarea,
    button,
    select,
    label,
    a {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .home .menu {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .home ul li {
        display:inline-block;
        font: bold 60px/58px 'bebas_neuebold', sans-serif;
    }
    .home ul li:hover {
        font: bold 60px/58px 'bebas_neuebold', sans-serif;
        border-bottom:none;
        text-shadow:none;
        color:#000;
        background:#FFF;
    }
    .home ul li:active {
        font: bold 60px/58px 'bebas_neuebold', sans-serif;
        border-bottom:none;
        text-shadow:none;
        color:#000;
        background:#EEE;
    }
    .home ul li ul {
        z-index:1000;
        top:72px;
    }
    .home ul li ul li {
        display:block;
        width:189px;
    }
    .home .menu {
        width:calc(100% - 50px);
        height:fit-content;
        border-radius:0;
    }
    .home ul li:hover ul {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .home ul li ul li:hover {
        font: bold 22px/18px 'bebas_neuebold', sans-serif;
        border-bottom:none;
        background: #000;
        color: #fff;
        text-shadow:none;
    }
    .home ul li ul li:active {
        font: bold 22px/18px 'bebas_neuebold', sans-serif;
        border-bottom:none;
        background: #666;
        color: #fff;
        text-shadow:none;
    }
    .home #drop:checked + ul { 
        display: block;
        opacity:1;
        visibility:visible;
    }
}